<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>
			<li>{{ site.jobtitle }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
 

         <p class="text">
		 </br>
India's <strong>first</strong> Hindi based website that publish articles about Recent Research ,Experiment, innovation,Discovery and Sciences Technology.



		</p> <!-- {{ site.description }} -->
      </div>

      <div class="footer-col  footer-col-3">
       <ul class="social-media-list">

                  {% if site.linkedln_username %}
  <li>
    <a href="https://linkedln.com={{ site.linkedln_username }}">
      <i class="fa fab-linkedln" style="color:gray"></i> Join us on LinkedIn
    </a>
  </li>
{% endif %}
     

          {% if site.instagram_username %}
  <li>
    <a href="https://instagram.com/{{ site.instagram_username }}">
      <i class="fa fab-instgram" style="color:gray"></i> Follow us on Instagram
    </a>
  </li>
{% endif %}

          {% if site.facebook_username %}
  <li>
    <a href="https://facebook.com/{{ site.facebook_username }}">
      <i class="fa fab-facebook" style="color:gray"></i> Connect with us on Facebook
    </a>
  </li>
{% endif %}

          {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fab-twitter" style="color:gray"></i> Tweet With us on Twitter
    </a>
  </li>
{% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
