<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>
			<li>{{ site.jobtitle }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
 

         <p class="text">
		 </br>
India's <strong>first</strong> Hindi based website about Recent Research , Experiment, innovation , Discovery and Sciences Technology..



		</p> <!-- {{ site.description }} -->
      </div>

      <div class="footer-col  footer-col-3">
       <ul class="social-media-list">

                  {% if site.linkedin_username %}
  <li>
    <a href="https://linkedin.com={{ site.linkeden_username }}">
      <i class="fa fa-linkedin" style="color:gray"></i> Google Scholar
    </a>
  </li>
{% endif %}
     

          {% if site.instagram_username %}
  <li>
    <a href="https://instagram.com/{{ site.instagram_username }}">
      <i class="fa fa-instgram" style="color:gray"></i> Instagram
    </a>
  </li>
{% endif %}

          {% if site.facebook_username %}
  <li>
    <a href="https://facebook.com/{{ site.facebook_username }}">
      <i class="fa fa-facebook" style="color:gray"></i> ORCID
    </a>
  </li>
{% endif %}

          {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter" style="color:gray"></i> Twitter
    </a>
  </li>
{% endif %}






       
        </ul>
      </div>
    </div>

  </div>

</footer>
